body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2E3D5;
  transition: background-color 0.3s ease;
}

.dashboard {
  display: flex;
  height: 100vh;
  /* ✅ Ya no tiene animación aquí para no afectar el menú */
}

/* Menú lateral  #725555*/
.sidebar {
  width: 252px;
  background-color: #262626;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
  color: #FF6000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px 8px;
  border-radius: 6px;
  transition: background 0.3s;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  position: relative;
}

.sidebar a i {
  margin-right: 10px;
}

.sidebar a:hover {
  background-color: #444;
  border-bottom-color: #444;
}

.contenido-bienvenida h1 {
  color: #74A60A;
}


/* Contenido principal */
.main-content {
  flex: 1;
  padding: 40px;
  background-color: #F2E3D5;
}

/* ✅ Solo animamos el bloque de bienvenida */
.animate {
  animation: fadeSlideIn 0.6s ease both;
}

/* Animación suave */
@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Modal de confirmación */
.confirm-modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirm-box {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: fadeSlideIn 0.3s ease;
}

.confirm-box p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.confirm-buttons {
  display: flex;
  justify-content: space-between;
}

.confirm-buttons .cancelar-btn {
  background-color: #ccc;
  color: black;
}

.confirm-buttons .eliminar-btn {
  background-color: #F24405;
  color: white;
}

.confirm-buttons button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s;
}

.confirm-buttons .cancelar-btn:hover {
  background-color: #999;
}

.confirm-buttons .eliminar-btn:hover {
  background-color: #b83203;
}
