body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  height: 100vh;
}

/* Menú lateral */
.sidebar {
  width: 250px;
  background-color: #262626; /* Fondo oscuro */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
  color: #FF6000; /* Naranja principal */
}

/* Menú lateral */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px 8px;
  border-radius: 6px;
  transition: background 0.3s;
  border-top: 1px solid #444; /* Línea superior */
  border-bottom: 1px solid #444; /* Línea inferior */
  position: relative;
}

.sidebar a i {
  margin-right: 10px;
}

.sidebar a:hover {
  background-color: #444;
  border-bottom-color: #444;
}


/* Contenido principal */
.main-content {
  flex: 1;
  padding: 40px;
  background-color: #F2E3D5;  /* Olor crema: #F2E3D5 color del fondo que se supone que deberia ser crema */
  animation: fadeIn 0.7s ease; /* animacion, mas bien parece un parpadeo */
}

.main-content h1 {
  color: #74A60A; /* Verde oliva para títulos */
  font-size: 26px;
  margin-bottom: 15px;
}

.main-content p {
  font-size: 16px;
  color: #555;
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}








/* Modal de confirmación */
.confirm-modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirm-box {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
}

.confirm-box p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.confirm-buttons {
  display: flex;
  justify-content: space-between;
}

.confirm-buttons .cancelar-btn {
  background-color: #ccc;
  color: black;
}

.confirm-buttons .eliminar-btn {
  background-color: #F24405;
  color: white;
}

.confirm-buttons button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s;
}

.confirm-buttons .cancelar-btn:hover {
  background-color: #999;
}

.confirm-buttons .eliminar-btn:hover {
  background-color: #b83203;
}

/* Animación fadeIn */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}


